:root {
  --text: #6b6375;
  --heading: system-ui, 'Segoe UI', Roboto, sans-serif;
}

#root {
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  font-weight: 500;
  color: var(--text-h);
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--heading);
}
